.button {
  background-color: #454851;
  border-color: #F9BA0D;
  border-width: 3px;
  border-radius: 50px;
  color: white;
  margin: 30px;
  padding: 10px 20px;
}

.button:hover {
  background-color: #F9BA0D;
  color: #454851;
}
