.margin-whole-page {
  margin: 75px;
}

.first-text-services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.first-left-text-services {
  padding-right: 30px;
}

.first-right-text-services {
  margin-top: 18px;
}

.three-boxes-services {
  display: flex;
}

.indivudual-boxes-services {
  width: 400px;
  justify-content: space-evenly;
  margin: 25px;
  border: 1px solid #e9ebed;
  border-bottom: 3px solid #3287c4;
  padding: 25px;
}

.table-margin-services {
  padding: 0px 75px;
}

.second-div-services {
  background-color: #EEEEEE;
  padding: 50px 75px;
}

.padding-line-second-div-services {
  padding: 25px;
}

.title-second-div-services h1 {
  padding-bottom: 20px;
}

.border-top-services {
  border-top: solid 0.5px;
  border-color: #c9c8bd;
  display: flex;
  flex-direction: row;
}

.first-top-services {
  display: flex;
  flex-direction: row;
}

.container-image {
  text-align: center;
}

.line-between-thirddiv-services {
  border-top: 1px solid #E5E5E5;
}
















