<div class="top-home-container">
  <h1 class='home-title'>A Trusted Organization Development Agency</h1>
  <h3 class="home-subtitle">
    From the AEX and CAC40 to NGO's and international organizations, we build requisite organizations
  </h3>
</div>

<div class="home-bg-container-bottom">
  <div class="home-container-bottom">
    <%= link_to 'How we can help you', about_path, class: 'btn button'%>
  </div>
</div>

