<div class="top-pages-container">
  <h1 class='home-title'>Introducing our practices</h1>
  <h3 class="home-subtitle">
    How our work can help you
  </h3>
</div>
<div class="margin-services">
  <div class="services-subtitle">
    <h1>Organization Optimization & Talent Management</h1>
    <div class="line-under-h1"></div>
  </div>

  <div class="centered-table-services">
  <table class="table table-borderless">
    <tbody>
      <tr class="line-between-table-practices margin-table-practices">
        <td>
          <div class="div-table-practices"><i class="fal fa-ruler-combined fa-3x"></i></div>
        </td>
        <td>
          <div class='div-table-practices'>
            <p><strong>Assessing the organization design and functional alignment of your organization</strong></p>
            <p>Review your current organization design and analyze its strengths and weaknesses for reaching its goals and objectives.
            <br>
            The outcomes will help enhancing your organization. Results include:<br>
            - the current number of layers you use in the organization<br>
            - the correct number of layers you actually need for executing the strategy<br>
            - work you need to get done in each layer<br>
            - comparison of the actual and required functions for executing the strategy<br>
            - phased plans to achieve an effective organization structure<br>
            - level of cross-functional integration of work<br>
            - review of individuals to ascertain that they are capable of doing the work to be done in the roles they occupy<br>
            Duration of assessment:<br>
            - 1 month or more, depending on the size and structure of your organization.</p>
          </div>
          <div class="contact-div-btn-practices">
            <p><strong>If you want to know more:</strong></p>
            <%= link_to 'CONTACT US', contact_path, class: 'btn button-practices' %>
          </div>
        </td>
      </tr>
      <tr class="line-between-table-practices margin-table-practices">
        <td>
          <div class="div-table-practices"><i class="fal fa-globe fa-3x"></i></div>
        </td>
        <td>
          <div class='div-table-practices'>
            <p><strong>Mapping your organization's talent pool</strong></p>
            <p>Mapping the pool of talent (all employees) is crucial for building the workforce able to execute the strategy of your organization. <br><br>
            The benefits of talent pool mapping include:<br>

            - understand how your talent pool is built up in terms of age distribution, gender, succession planning needs<br>
            - understand how the talent pool will evolve over the next 2, 3, 5, or 10 years<br>
            - trace individual potential capability<br>
            - ensure continuity of leadership through effective succession planning<br>
            - identify key roles that need to be filled now and in the future<br>
            - who is overpaid or underpaid<br>
            - identify specific employees who are able to fill key roles<br>
            - identify other employees with future potential<br>
            - create individual development plans<br><br>

            Duration of a mapping exercise:<br>
            - between 1 and 3 months, depending on the size and structure of your organization.</p>
          </div>
          <div class="contact-div-btn-practices">
            <p><strong>If you want to know more:</strong></p>
            <%= link_to 'CONTACT US', contact_path, class: 'btn button-practices' %>
          </div>
        </td>
      </tr>
      <tr class="line-between-table-practices margin-table-practices">
        <td>
          <div class="div-table-practices"><i class="fal fa-sitemap fa-3x"></i></div>
        </td>
        <td>
          <div class='div-table-practices'>
            <p><strong>Comprehensive organizational charts</strong></p>
            <p>Developing comprehensive organization charts for each unit in your organization is one of the most useful outcomes of our work. These charts provide you with:<br><br>
            - a critical diagnostic tool for all managers to use on a continuing basis<br>
            - relationships between roles<br>
            - level of work and band of each role<br>
            - gaps in the organization structure<br>
            - linked directly with the talents plotted on your talent pool map<br>
            - reflecting the latest personnel changes<br>
          </div>
          <div class="contact-div-btn-practices">
            <p><strong>If you want to know more:</strong></p>
            <%= link_to 'CONTACT US', contact_path, class: 'btn button-practices' %>
          </div>
        </td>
      </tr>
      <tr class="line-between-table-practices margin-table-practices">
        <td>
          <div class="div-table-practices"><i class="fal fa-graduation-cap fa-3x"></i></div>
        </td>
        <td>
          <div class='div-table-practices'>
            <p><strong>Making strategy work</strong></p>
            <p>The Linkage Process is a process for converting an organization’s long-term strategy into actual work output. It involves a logical and systematic procedure in which employees at all levels actively participate (N. Lee).</p>
          </div>
          <div class="contact-div-btn-practices">
            <p><strong>If you want to know more:</strong></p>
            <%= link_to 'CONTACT US', contact_path, class: 'btn button-practices' %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
