<div class="top-pages-container">
  <h1 class='home-title'>Services</h1>
  <h3 class="home-subtitle">
    What we can do for you
  </h3>
</div>

<div class="margin-whole-page">


  <div class='first-text-services'>
    <div class='first-left-text-services'>
      <h1>Our practices</h1>
      <p>
        We assist managers implement a comprehensive and integrated set of principles and procedures that enables their organization and the people who work in it to be fully effective. The use of these common sense ideas results in an organization that is a good place for people to work and one that substantially increases its productivity and its profit.
      </p>
    </div>
    <div class='first-right-text-services'>
      <h4>
        <strong>Our core services</strong>
      </h4>
    <p>Organization Design, Strategic Workforce Planning, Talent Pool Development, Managerial Leadership, Education and Training.</p>
    </div>
  </div>

  <div class='three-boxes-services'>
    <div class="indivudual-boxes-services">
      <h2>Organizational Structure & Functional Alignment</h2>
      <p>We assist organizations to structure appropriately to achieve their mission, goals and objectives. The first step in getting a good organization is to establish the right number of layers. We help identify the major functions that are necessary at given levels, and look at how work should be organized and roles be established.</p>
    </div>
    <div class="indivudual-boxes-services middle-box-services">
      <h2>Managerial Leadership Practices</h2>
      <p>With simple, straight forward Managerial Leadership Practices we help organizations establish clarity and trust and achieve increased effectiveness and productivity, through performance management, three-level management, cross-functional working relationships and talent pool development.</p>
    </div>
    <div class="indivudual-boxes-services">
      <h2>Human Capability & Succession Planning</h2>
      <p>We support organizations put in place practices and procedures to ensure a succession plan of employees and management. It embraces the review of all employees on a regular basis as well as planning for succession and developing employees to fill roles when needed in the future.</p>
    </div>
  </div>
</div>


<div class="second-div-services">
  <div class="title-second-div-services display-title-what">
    <h1>How We Work</h1>
    <div class="line-under-h1 padding-line-second-div-services"></div>
  </div>
  <div></div>
  <div>
    <p>
      We use an implementation process that proved to be successful, but each client assigment requires adaptation of our approach. Our projects fall into two categories, no matter the size of the organization or the field in which it operates. In the first type the CEO has become familiar with Requisite Organization and has determined that it is the management system he or she wants to use. The other type is one in which the head of Human Resources or a specific manager heading a unit chooses to implement Requisite concepts.
    </p>
  </div>
</div>


<div class='table-margin-services'>
<table class="table table-borderless">
  <tbody>
    <tr>
      <td>
        <div class='container-image'>
          <i class="fal fa-eye fa-3x"></i>
        </div>
      </td>
      <td>
        <div class='second-container-text'>
          <h2>
            <strong>Optimizing Organization Design</strong>
          </h2>
          <p class='undertitle-second-div-services'><strong>We’ve adopted Requisite Organization (RO) principles and practices</strong></p>
          <p class=''>
              They’re consistent with our sense of the world of work, and have an undeniable practicality. Results have proven to be sustainable for periods of many years, without disappearing, as so many fads are. Gains are permanent; they are structural, guaranteeing organizational flexibility and resilience.
          </p>
        </div>
      </td>
    </tr>
    <tr class="line-between-thirddiv-services">
      <td>
        <div class='container-image'>
          <i class="fal fa-suitcase fa-3x"></i>
        </div>
      </td>
      <td>
        <div class='second-container-text'>
          <h2>
            <strong>We Work With Management</strong>
          </h2>
          <p class='undertitle-second-div-services'><strong>We assist linking long-term strategy to key assignments</strong></p>
          <p class=''>
              We work with management to develop a good managerial system for executing its strategy, rather than working with individuals to help them develop so that they can help their organization to function better.
          </p>
        </div>
      </td>
    </tr>
    <tr class="line-between-thirddiv-services">
      <td>
        <div class='container-image'>
          <i class="fal fa-users fa-3x"></i>
        </div>
      </td>
      <td>
        <div class='second-container-text'>
          <h2>
            <strong>Our Approach</strong>
          </h2>
          <p class='undertitle-second-div-services'><strong>We follow a proven process that results in significant, positive change</strong></p>
          <p class=''>
              We do whatever it takes to make things work. We carry out fact finding work combined with research. We share findings and knowledge in workshops or trainings. In other situations we coach individuals or groups.
          </p>
        </div>
      </td>
    </tr>
    <tr class="line-between-thirddiv-services">
      <td>
        <div class='container-image'>
          <i class="fal fa-toolbox fa-3x"></i>
        </div>
      </td>
      <td>
        <div class='second-container-text'>
          <h2>
            <strong>No Long-Term Contract</strong>
          </h2>
          <p class='undertitle-second-div-services'><strong>We aim to build capacity</strong></p>
          <p class=''>
              We invlove the organization in each step we make. We're involved more intensely at the begining of the optimization process and we gradually phase out completely or agree to a minimum service for consolidating the knowledge.
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
