<div class="top-what-container">
  <h1 class='home-title'>Our experience</h1>
  <h3 class="home-subtitle">
    CaC Organization Development
  </h3>
</div>

<div class='first-container-what'>
  <h2 class='what-title'>
    Selected examples
  </h2>
  <div class='line-under-title'></div>


  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-search fa-3x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Organization design</strong>
      </h2>
      <p>
        We assessed the design of organizations, whether the structure is just right (not too big, not too small) for executing the strategic plan. We analysed the relationship between tasks, functions, mission, and vision.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-arrows-alt-v fa-3x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Clarifying authorities and working relationships</strong>
      </h2>
      <p>
        We helped getting the working relationships in organizations right. We helped managers clarify their role, accountabilities and authorities.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-graduation-cap fa-3x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Training in managerial leadership practices</strong>
      </h2>
      <p>
        We trained hundreds of managers in managerial leadership practices (there are eleven practices to learn). These are simple, straight forward practices for which all managers are accountable. They go together with policies and procedures in organizations.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-clipboard-list-check fa-3x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Training in task formulation and assignment</strong>
      </h2>
      <p>
        You've probably experienced that assigning tasks may appear deceptively simple. You've probably also experienced then when time and effort are wasted because of poor task formulation. We've helped managers sharpen the formulation of a task. With context, purpose, quality & quantity, resources and time, managers discovered a common definition for tasks.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-users fa-3x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Teams and teamworking</strong>
      </h2>
      <p>
        We facilitated numerous workshops on teams and teamworking. We helped people discover what it is and how to achieve it. In our workshops we combined context setting with knowledge and experiential learning.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-thumbs-up fa-3x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Establishing organizational key assigments</strong>
      </h2>
      <p>
        We've held workshops for managers to help clarify the linkage between organizational long-term strategy and individual key assignments at all levels in the organization.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-globe fa-3x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Among our clients</strong>
      </h2>
      <p>
        Alstom SA, Avio SpA, Case New Holland (CNH), DPKO, Ecorys bv, European Commission, European Training Foundation, FAO, FENICE (Electricité de France Italy), ILO, IFAD, IRC, Ministry of Economy Netherlands, Nestlé Nespresso, UN Secretariat, UNDP, UNHCR, UNAIDS, UNOG, UNON, TNT Global Express, Swiss Life, WFP, WHO.
      </p>
    </div>
  </div>
</div>
