<div class="top-what-container">
  <h1 class='home-title'>Our experience</h1>
  <h3 class="home-subtitle">
    CaC Organization Development
  </h3>
</div>

<div class='first-container-what'>
  <h2 class='what-title'>
    Selected examples
  </h2>
  <div class='line-under-title'></div>


  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-search fa-4x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Organization design</strong>
      </h2>
      <p>
        We assessed the design of organizations, whether the structure is just right (not too big, not too small) for executing the strategic plan. We analysed the relationship between tasks, functions, mission, and vision.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-arrows-alt-v fa-4x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Organization design</strong>
      </h2>
      <p>
        We assessed the design of organizations, whether the structure is just right (not too big, not too small) for executing the strategic plan. We analysed the relationship between tasks, functions, mission, and vision.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-arrows-alt-v fa-4x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Organization design</strong>
      </h2>
      <p>
        We assessed the design of organizations, whether the structure is just right (not too big, not too small) for executing the strategic plan. We analysed the relationship between tasks, functions, mission, and vision.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-arrows-alt-v fa-4x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Organization design</strong>
      </h2>
      <p>
        We assessed the design of organizations, whether the structure is just right (not too big, not too small) for executing the strategic plan. We analysed the relationship between tasks, functions, mission, and vision.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-arrows-alt-v fa-4x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Organization design</strong>
      </h2>
      <p>
        We assessed the design of organizations, whether the structure is just right (not too big, not too small) for executing the strategic plan. We analysed the relationship between tasks, functions, mission, and vision.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-arrows-alt-v fa-4x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Clarifying authorities and working relationships</strong>
      </h2>
      <p>
        We assessed the design of organizations, whether the structure is just right (not too big, not too small) for executing the strategic plan. We analysed the relationship between tasks, functions, mission, and vision.
      </p>
    </div>
  </div>

  <div class='what-second-container'>
    <div class='container-image'>
      <i class="fal fa-arrows-alt-v fa-4x"></i>
    </div>
    <div class='second-container-text'>
      <h2>
        <strong>Organization design</strong>
      </h2>
      <p>
        We assessed the design of organizations, whether the structure is just right (not too big, not too small) for executing the strategic plan. We analysed the relationship between tasks, functions, mission, and vision.
      </p>
    </div>
  </div>
</div>
