// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 20px;
}

.top-pages-container {
  text-align: center;
  background-color: #265584;
  width: 100%;
  height: 100%;
  padding: 25px;
}
